<div class="row">
  <h1>Formacion Academica</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Educacion 1</h1>
        -
        <h3>(Year)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis,
        provident! Quia ea totam pariatur! Minima voluptate repellendus
        obcaecati amet laborum minus sint ducimus atque, ipsam, harum vitae aut
        velit eligendi?
      </p>
    </ul>
    <ul>
      <li>
        <h1>Educacion 2</h1>
        -
        <h3>(Year)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis,
        provident! Quia ea totam pariatur! Minima voluptate repellendus
        obcaecati amet laborum minus sint ducimus atque, ipsam, harum vitae aut
        velit eligendi?
      </p>
    </ul>
    <ul>
      <li>
        <h1>Educacion 3</h1>
        -
        <h3>(Year)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis,
        provident! Quia ea totam pariatur! Minima voluptate repellendus
        obcaecati amet laborum minus sint ducimus atque, ipsam, harum vitae aut
        velit eligendi?
      </p>
    </ul>
  </div>
</div>
